---
import type { GetStaticPaths } from "astro";
import Pagination from "../components/control/Pagination.astro";
import PostPage from "../components/PostPage.astro";
import { PAGE_SIZE } from "../constants/constants";
import MainGridLayout from "../layouts/MainGridLayout.astro";
import { getSortedPosts } from "../utils/content-utils";

export const getStaticPaths = (async ({ paginate }) => {
	const allBlogPosts = await getSortedPosts();
	return paginate(allBlogPosts, { pageSize: PAGE_SIZE });
}) satisfies GetStaticPaths;
// https://github.com/withastro/astro/issues/6507#issuecomment-1489916992

const { page } = Astro.props;

const len = page.data.length;
const isHome = page.currentPage === 1;
---

{isHome ? (
    <MainGridLayout hideSidebarWidgets={true}>
        <section class="card-base px-7 py-8 md:px-10 md:py-10 rounded-[var(--radius-large)]">
            <p class="transition text-75 text-lg leading-8 max-w-2xl m-0">
                2016年からAndroidエンジニアをやっています。現在はREALITY株式会社でAndroidアプリ開発に携わっています。
            </p>
        </section>
    </MainGridLayout>
) : (
    <MainGridLayout>
        <PostPage page={page}></PostPage>
        <Pagination class="mx-auto onload-animation" page={page} style={`animation-delay: calc(var(--content-delay) + ${(len)*50}ms)`}></Pagination>
    </MainGridLayout>
)}
